<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/io/connectors"
            factory-class="org.knime.ext.box.authenticator.node2.BoxAuthenticatorNodeFactory">
      </node>
      <node
         	deprecated="true"
         	factory-class="org.knime.ext.box.authenticator.node.BoxAuthenticatorNodeFactory"
         	hidden="false">
   	  </node>
   </extension>
</plugin>
