<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    <!-- <node
   <extension
         point="org.knime.workbench.repository.nodes">
     
            category-path="/io/connectors"
            factory-class="org.knime.archive.zip.filehandling.node.ArchiveZipConnectorNodeFactory"/>
     
   </extension> -->
   
   
   
   <extension point="org.knime.filehandling.core.FSDescriptorProvider">
      <FSDescriptorProvider class="org.knime.archive.zip.filehandling.fs.ArchiveZipFSDescriptorProvider" />
   </extension>
   
</plugin>
